<!DOCTYPE html>
<html>
  <head>
    <title>Middle Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Middle Management" />
    <meta name="google-site-verification" content="fNaraNO3WMFQKxZ2HNOC_Q0bAfLMcHqsgPnQRiZ3uDI" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EY6E2020P0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-EY6E2020P0');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
